.DS_Store
*.xcuserstate
xcuserdata/
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
Pods/

# Unfinished, intentionally excluded
BarcadoScanner/
.DS_Store
xcuserdata/
*.xcuserstate
build/
DerivedData/
